<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/add-product.css">
    <%- include('../includes/nav.ejs') %>


        <main class="add__product__cnt">
            <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
                <div class="title add-product-input">
                    <input placeholder="Book Title" id='title' type="text" name="title"
                        value="<% if (editing) { %><%=product.title%><% } %>">
                </div>
                <div class="desc add-product-input">
                    <textarea placeholder="Book Description" name="description"
                        id="description"><% if (editing) { %><%=product.description%><% } %></textarea>
                </div>
                <div class="price add-product-input">
                    <input placeholder="Book Price" id='price' type="number" name="price" step="0.01"
                        value="<% if (editing) { %><%=product.price%><% } %>">
                </div>
                <div class="img add-product-input">
                    <input placeholder="Img Url" id='img' type="text" name="img"
                        value="<% if (editing) { %><%=product.img %><% } %>">
                </div>

                <% if (editing) { %>
                    <input type="hidden" value="<%= product.id %>" name="productId">
                    <% } %>
                        <button class="admin__btn" type="submit">
                            <% if (editing) { %> Update Product <% } else { %> Add product <% } %>
                        </button>

            </form>
        </main>

        <!-- 
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        </div> -->
        <%- include('../includes/end.ejs') %>