<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <%- include('../includes/nav.ejs') %>
    <div class="cart__items__cnt">

        <% if (products.length > 0) { %>

            <ul class="cart__items">
                <% products.forEach(p => { %>
                <li>
                    <%= p.productData.title %> (<%= p.qty %>) - <%= p.totalPrice%>
                </li>
                <% }) %>
            </ul>
            <% } else { %>
                <h1 class="no__products"> No Products In Cart!</h1>
                <% } %>

    </div>

<%- include('../includes/end.ejs') %>