<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/details-page.css">
    <%- include('../includes/nav.ejs') %>
        <main class="details__wrapper">

            <!-- <img class="details__product__image" src='<% if(product.img) {%><%=product.img%> <%} else { %>https://graphberry-imgs.imgix.net/Top%20View%20Book%20PSD%20Mockup.jpg?auto=compress,format&q=80&w=800 <% } %>'>
            </img> -->

            <img class="details__product__image" src='<%=product.img%>' onerror='this.onerror=null; this.src= "https:\\graphberry-imgs.imgix.net/Top%20View%20Book%20PSD%20Mockup.jpg?auto=compress,format&q=80&w=800"'>
            </img>
            <div class="title__cnt">
                <h2 class="details__product__title">
                    <%= product.title %>
                </h2>

                <p class="details__product__description">
                    <%= product.description %>
                </p>
                <h2 class="details__product__price">
                    $ <%= product.price %>
                 </h2>
                 <form action="/cart" method="POST" id="addToCart">
                    <button class="addTo__cart__btn btn" type="submit">Add To Cart</button>
                    <input type="hidden" name="productId" value="<%= product.id %>">
                </form>
            </div>


        </main>
        <%- include('../includes/end.ejs') %>