<%- include('../includes/head.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <main class="product-cnt">
            <%if (prods.length> 0) {%>
                <% for (let product of prods) { %>
                    <div class="product__card">
                        <a href="#">
                            <div class="product__image" style="background-image: url('<%= product.img %>');">
                            </div>
                        </a>
                        <div class="product__description__cnt">
                            <h2 class="product__title">
                                <%= product.title %>
                            </h2>
                            <p class="product__description">
                                <%= product.description %>
                            </p>
                        </div>
                        <div class="addTo__cart__cnt" href="#">
                            <h4 class="product__price"><i class="addTo__cart__icon"></i>
                                <%= product.price %>
                            </h4>
                        </div>
                    </div>
                    <% } %>
                        <% } else { %>
                            <h1 class="no__products">No Products</h1>
                            <% } %>
        </main>

        <%- include('../includes/end.ejs') %>